# PyInstaller
build/
dist/
*.spec

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
*.dist-info/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Credentials & local files
telegram-send.conf
MyDist/
